@{
  Layout = "_Layout";
}

@using RecipeBox.Models
@model RecipeBox.Models.Tag

<h2>Tag Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Title): @Html.DisplayFor(model => model.Title)</h3>

@if(@Model.JoinEntities.Count == 0)
{
  <p>This tag does not belong to any recipes</p>
}
else
{
  <h4>Recipes the tag belongs to:</h4>
  <ul>
  @foreach(RecipeTag join in Model.JoinEntities)
  {
    <li>@join.Recipe.Title</li>
    @using (Html.BeginForm("DeleteJoin", "Tags"))
    {
      @Html.Hidden("joinId", @join.RecipeTagId)
      <input type="submit" value="Delete"/>
    }
  }
  </ul>
}

<p>@Html.ActionLink("Back to list", "Index")</p>
<p>@Html.ActionLink("Add an Recipe", "AddRecipe", new { id = Model.TagId })</p>
<p>@Html.ActionLink("Edit Tag", "Edit", new { id = Model.TagId })</p>
<p>@Html.ActionLink("Delete Tag", "Delete", new { id = Model.TagId })</p>